<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714344170931-sqeefgm11j8r66b0lbu3q0qp6vvq7qqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714344170931-sqeefgm11j8r66b0lbu3q0qp6vvq7qqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCL5VwZD_meMLXkCEK3IT97sv9WmjDeuNU</string>
	<key>GCM_SENDER_ID</key>
	<string>714344170931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twistter</string>
	<key>PROJECT_ID</key>
	<string>twistter-23e52</string>
	<key>STORAGE_BUCKET</key>
	<string>twistter-23e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714344170931:ios:756a615048f3b5d0e8b7c6</string>
	<key>DATABASE_URL</key>
	<string>https://twistter-23e52.firebaseio.com</string>
</dict>
</plist>